# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @reasonerjt @kofj @mmpei @renmaosheng @wy65701436 @ywk253100 @hainingzhang @steven-zou @Jérémie MONSINJON @holyhope @Vad1mo @bupd @OrlinVasilev 
